html {
  scroll-behavior: smooth
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0f172a;
  color: white;
}

#root {
  min-height: 100vh;
}

.hero {
  min-height: 100vh;
  text-align:center;
  padding-top: 100px;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero h2 {
  font-size: 1.2rem;
  max-width: 600px;
  margin: 20px auto;
}

.hero p {
  font-size: 1.2rem;
  max-width: 600px;
  margin: 20px auto;
}

.hero-buttons button {
  margin: 10px;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section h2 {
  font-size: 2.5rem;
}

section p {
  color: #d1d5db;
}

.skill-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.skil-card {
  background-color: #1e293b;
  padding: 20px;
  border-radius: 12px;
  width: 250px;
}

.skill-card h3 {
  color: #38bdf8;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.project-card {
  background-color: #1e293b;
  padding: 25px;
  border-radius: 12px;
  width: 300px;
  text-align: left;
}

.project-card h3 {
  color: #38bdf8;
}